.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #DBE2EF;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.task img {
    width: 15px;
}

.task-bin {
    height: 15px;
    min-width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task img:hover{
    cursor: pointer;
}

.task-checkbox {
    background-color: transparent;
    width: 20px;
    height: 20px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    appearance: none;
    background-color: transparent;
    border: 1.5px solid #7D7C7C;
    border-radius: 4px;
    cursor: pointer;
}

input[type="checkbox"]:checked::after {
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    content: '✓';
    font-size: 13px;
    font-weight: bold;
}

.task-title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.task-title {
    background-color: transparent;
    border: none;
    border-radius: 0;
    width: fit-content;
    font-family: 'Arial';
    font-size: 14px;
    color: #112D4E;
}

.task-title:focus {
    background-color: white;
    color: black;
    outline: none;
}

@media (max-width: 650px) {
    .task {
        padding: 7px 7px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    input[type="checkbox"] {
        width: 13px;
        height: 13px; 
    }

    input[type="checkbox"]:checked::after {
        font-size: 7px;
    }

    .task-title {
        font-size: 12px;
    }

    .task img {
        width: 10px;
    }
    
    /* .task-bin {
        height: 10px;
        min-width: 10px;
    } */
}