main {
    width: 100%;
    background-color: #3F72AF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vp-height {
    height: 100vh;
}

.normal-height {
    height: 100%;
    padding-bottom: 30px;
}

main section {
    min-height: 308px;
    height: fit-content;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main ul {
    height: 100%;
    width: 100%;
}

.app-title {
    color: #112D4E;
    font-family: 'Arial';
    font-size: 30px;
}

.add-task-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.add-task-container input{
    width: 250px;
    height: 30px;
    box-sizing: border-box;
    border: 2px solid #DBE2EF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    color: #112D4E;
}

.add-task-container input:focus {
    outline: none;
    border-color: #AAAAAA;
}

.add-task-container button {
    width: 30px;
    height: 30px;
    margin-left: -2px;
    box-sizing: border-box;
    background-color: #AAAAAA;
    color: white;
    font-size: 20px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.add-task-container button:hover {
    cursor: pointer;
    background-color: #858585;
}

hr {
    margin-top: 10px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

@media (max-width: 650px) {
    main section {
        min-height: 181px;
        width: 200px;
        padding: 10px 30px;
    }

    .app-title {
        font-size: 20px;
    }

    .add-task-container { 
        margin-top: 10px;
    }

    .add-task-container input{
        width: 150px;
        height: 20px; 
        font-size: 10px;
        padding-left: 5px;
    }

    .add-task-container button {
        width: 20px;
        height: 20px; 
        font-size: 10px;
    }
}